body {
    width: 100vw;
    height: 100vh;
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-bottom: 100px;
}

#main-nav-bar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-nav-bar .nav-link {
    color: white;
}

#main-nav-bar .nav-link:hover {
    color: #ea1c2c;
}


#main-nav-bar .navbar-brand {
    color: #ea1c2c;
}

#heading-group span {
    color: #ea1c2c;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}

@media (max-width: 1300px) {
    #heading-group h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}