body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#main-nav-bar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-nav-bar .nav-link {
    color: white;
}

#main-nav-bar .nav-link:hover {
    color: #ea1c2c;
}


#main-nav-bar .navbar-brand {
    color: #ea1c2c;
}
